*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Poppins;
    color: white;
    overflow: auto;
}

.left-space{
    margin-left: 5em;
}

.nav-img{
    margin-left: 10em;
}
h6{
    font-size: 15px;
}
/* .contact-button{
    margin-left: 5em
} */
header,footer,.navbar{
    background-color: #0a193d;
}
.navbar-toggler-icon{
    background-color: white;
}
/* .side-list{
    margin-right: 10em;
} */
/* .navbar{
    background-color: #0a193d;
} */
a{
    text-decoration: none;
    color: white;
}
.navbar-brand a{
font-size: 1.25rem;
}
.heading-service, .heading-about, .heading-products, .heading-get-in-touch{
    margin-top: 3em;
    text-align: center;
    color: black;
}
.text-color{
    color: black;
}
.text-white{
    color: white;
}
.mb{
    margin-bottom: 100px;
}


@media (max-width: 992px) { /* For medium and smaller devices */
    .nav-img {
      margin-left: 0; /* Remove the margin on medium and smaller devices */
    }
  }

@media (max-width: 992px){
    .service-boxes{
        row-gap: 10px;
    }
}
